[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
colorama = "*"

[dev-packages]

[requires]
python_version = "3.8"
